<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wheel">
<xacro:include filename="$(find rov_description)/src/env/xacro/fun_define.xacro"/>

<!-- 添加世界坐标系链接 -->
<link name="world"/>

<!-- 添加固定关节将机器人固定到世界坐标系 -->
<joint name="world_to_led_base" type="fixed">
    <parent link="world"/>
    <child link="led_base_link"/>
    <origin xyz="2 0 1" rpy="0 ${-M_PI/2} 0"/>
</joint>


<xacro:mylink_tri myname="led_base_link" l="0.3" w="0.3" h="0.01" x="0" y="0" z="0" wx="0" wy="0" wz="0" color="black" r="0" g="0" b="0" a="1" mass="0.1" ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
<gazebo reference="led_base_link">
        <material>Gazebo/Black</material>
</gazebo>


<xacro:mylink_cyl link_name="led_lu_link" l="0.01" r_="0.05" x="0" y="0" z="0" wx="${M_PI/2}" wy="${M_PI/2}" wz="0" color="bule" r="0" g="0" b="0" a="1" mass="0.1" ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
<gazebo reference="led_lu_link">
        <material>Gazebo/Green</material>
</gazebo>
<xacro:mylink_cyl link_name="led_ru_link" l="0.01" r_="0.05" x="0" y="0" z="0" wx="${M_PI/2}" wy="${M_PI/2}" wz="0" color="bule" r="0" g="0" b="0" a="1" mass="0.1" ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
<gazebo reference="led_ru_link">
        <material>Gazebo/Red</material>
</gazebo>
<xacro:mylink_cyl link_name="led_ld_link" l="0.01" r_="0.05" x="0" y="0" z="0" wx="${M_PI/2}" wy="${M_PI/2}" wz="0" color="bule" r="0" g="0" b="0" a="1" mass="0.1" ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
<gazebo reference="led_ld_link">
        <material>Gazebo/Blue</material>
</gazebo>
<xacro:mylink_cyl link_name="led_rd_link" l="0.01" r_="0.05" x="0" y="0" z="0" wx="${M_PI/2}" wy="${M_PI/2}" wz="0" color="bule" r="0" g="0" b="0" a="1" mass="0.1" ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
<gazebo reference="led_rd_link">
        <material>Gazebo/Yellow</material>
</gazebo>

<xacro:myjoint_fixed joint_name="led_ru_joint" joint_type="fixed" x="-0.15" y="0.15" z="0.005" wx="${M_PI/2}" wz="0" wy="0" parent_link="led_base_link" child_link="led_ru_link"/>
<xacro:myjoint_fixed joint_name="led_rd_joint" joint_type="fixed" x="0.15" y="0.15" z="0.005" wx="${M_PI/2}" wz="0" wy="0" parent_link="led_base_link" child_link="led_rd_link"/>
<xacro:myjoint_fixed joint_name="led_lu_joint" joint_type="fixed" x="-0.15" y="-0.15" z="0.005" wx="${M_PI/2}" wz="0" wy="0" parent_link="led_base_link" child_link="led_lu_link"/>
<xacro:myjoint_fixed joint_name="led_ld_joint" joint_type="fixed" x="0.15" y="-0.15" z="0.005" wx="${M_PI/2}" wz="0" wy="0" parent_link="led_base_link" child_link="led_ld_link"/>


</robot>