<launch>
    <!-- 设置launch文件的参数 -->
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

    <!-- 运行gazebo仿真环境 -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

    <!-- 加载机器人URDF/Xacro模型 -->
    <arg name="urdf_file1" default="$(find xacro)/xacro --inorder '$(find rov_description)/src/env/xacro/led.xacro'" />
    <arg name="urdf_file2" default="$(find xacro)/xacro --inorder '$(find rov_description)/src/env/xacro/rov_sim.xacro'" />
    <param name="robot_description1" command="$(arg urdf_file1)" />
    <param name="robot_description" command="$(arg urdf_file2)" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description1 -urdf -model led_sim" />
    <node name="spawn_urdf2" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model rov_sim" />

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />


</launch>
